* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 62.5%;
}

.container {
    width: 117rem;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@import '../blocks/header/header.css';