.delivery__item {
    width: 37.7rem;
    @include vercen;
    flex-direction: column;
    flex-shrink: 0;
    text-align: center;
}

@media (max-width: 48em) {
    .delivery__item {
        width: 100%;
        flex-direction: row;
        align-items:flex-start;
        justify-content: flex-start;
        
        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }
  }