.catalog__wrap {
    display: grid;
    grid-template-columns: repeat(4, 28.1rem);
    gap: 2.3rem 1.6rem;
    padding-bottom: 4.5rem;
}

@media (max-width: 48em) {
    .catalog__wrap {
        grid-template-columns: repeat(2, 27.8rem);
        gap: 6.4rem 2rem;
        padding-bottom: 4.65rem;
    }
  }