.header-tel__text {
  @include font(500, 1.9rem, 140%);
  color: $color-text-black;
}

@media (max-width: 48em) {
  .header-tel__text {
    @include font(500, 2.8rem, 140%);
    text-decoration-line: underline;
    color: #0074D4;
  }
}