.form__header {
    @include font(900, 4.4rem, 120%);
    color: #fff;
    margin-bottom: 0.9rem;
    width: 58.4rem;
}

@media (max-width: 48em) {
    .form__header {
        width: 55.4rem;
        font-size: 5.6rem;
        text-align: center;
    }
  }