.header__country {
  width: 8.1rem;
  @include font (500, 1.6rem, 140%);
  background: url(../img/header/arrow-select.svg);
  background-repeat: no-repeat;
  background-position-x: 6rem;
  background-position-y: 50%;
  background-size: 2.5rem;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}