.delivery__text {
    @include font(300, 2.2rem, 150%);
    margin-bottom: 1.3rem;
}

.text {
    font-weight: 600;
}

@media (max-width: 48em) {
    .delivery__text {
        @include font(300, 2.8rem, 150%);
        margin-bottom: 1rem;
    }
  }